/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

h1{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 4.5vw;
}

h2{
    text-align: center;
    padding-bottom: 5%;
    font-size: 3.5vw;
}

h3{
    padding-top: 5%;
    text-align: center;
    font-size: 2.5vw;
}

#added{
    color:rgba(26, 97, 26, 0.796);
    font-weight: bold;
}

#invalid{
    color:rgba(233, 91, 91, 0.734);
    font-weight: bold;
}

#titles{
    color: #fd6048;
    font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4, li, label, button{
    font-family: 'Russo One', sans-serif;
}

#active{
    color: #fd6048;
}

#nonActive{
    color:black ;
}

.nav-tabs{
    margin: auto auto auto auto;
    width: 70%;
}

hr{
    width: 80%;
}

@media only screen and (max-width: 771px) {
    .modal {
        margin: auto auto auto auto;
        width: 70%;
        align-items: center;
    }

    button{
        width:auto;
    }

    h1, .close{
        font-size: 3.8vw;
    }

    h4, .modal-body{
        font-size: 2.8vw;
    }

    li, .btn, label, .form-control, .dropdown {
        font-size: 2vw;
    }

    .form-group{
        margin-bottom: 5%;
        width: auto;
    }

    .form-group ng-select{
        height: 50%;
        margin-bottom: 5%;
    }


  }


