.allAlbum{
    width: 80%;
    margin: 3% auto auto auto;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% ;
    grid-gap: 5%;
}

.album{
    width: 100%;
    margin-bottom: 15%;
}

.album img{
    width: 100%;
}

.album p{
    text-align: center;
    font-size: 1vw;
    margin: 0;
}

.modal img{
    width: 50%;
    margin: auto auto 5% auto
}

.modal ul{
    padding-left: 25%;
}