<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink= "/artist">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink= "/album">Albums</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink= "/searcher">Searcher</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Add Artist</a>
        <a class="dropdown-item" href="#">Add Album</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Add Artist</a>
        <a class="dropdown-item" href="#">Add Album</a>
      </div>
    </li>
</ul>
<hr>