.allArtist{
    width: 80%;
    margin: 3% auto auto auto;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% ;
    grid-gap: 5%;
}

.artist{
    width: 100%;
    margin-bottom: 15%;
}

.artist img{
    width: 100%;
    cursor: pointer;
}

.artist p{
    text-align: center;
    font-size: 1vw;
    margin: 0;
}

.modal img{
    width: 50%;
    margin: auto auto 5% auto
}

.modal ul{
    padding-left: 25%;
}

.addNew {
    padding-bottom: 25%;
    padding-top: 25%;
    border: solid 1px;
}

@media only screen and (max-width: 600px) {
    .allArtist{
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        grid-gap: 5%;
    }

    .allArtist p {
        font-size: 1.5vw;
    }

    .artist{
        margin-bottom: 0;
    }
}
