form{
    width: 50%;
    margin: 5% 25% 0 25%;
}

button{
    border:solid 1px #fd6048;
    color: #fd6048;
}

button:hover{
    color: white;
    background-color: #fd6048cd;
    border:solid 1px #fd6048;
}

.info h2{
    width: 90%;
    text-align: center;
}

.allInfo{
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-gap: 2%;
    margin: 5% auto auto auto;
    width: 50%;
    border-radius: 2%;
    border: solid 0.5px rgb(151, 147, 147);
    padding: 2% 5% 1% 0 ;
    text-align: left;
    border: solid 0.5px #fd6048c4;
}

.allInfoArtist{
    background-color: #fd604891;
    display: grid;
    grid-template-columns: 70% 26% ;
    grid-gap: 6%;
    margin: 5% auto auto auto;
    width: 60%;
    border: solid 0.5px #fd6048c4;
    color: white;
    border-radius: 2%;
    padding: 1% 2% 1% 0 ;
    text-align: left;
}

.allInfoArtist img{
    width: 100%;
    border: solid 0.5px  white;
    float: right;
}

.info{
    font-size: 1,2vw;
    align-items: center;
    padding-left: 10%;
}


.allInfo img{
    width: 100%;
    border-radius: 100%;
    margin: 5% auto 5% 10%;

}

body{
    padding-bottom: 5%;
}


@media only screen and (max-width: 775px) {
    .allInfo{
        display: grid;
        grid-template-columns: 25% 75% ;
        margin: 5% auto auto auto;
        width: 60%;
        height: auto;
        border-radius: 2%;
    }

    .info{
        padding-left: 2%;
    }
    h2{
        font-size: 3vw;
    }
}
