

input{
    width: 50%;
    margin: 5% 25% 0 25%;
}

button{
    margin: 5% 25% 0 25%;
    display: flex;
}

h2{
    text-align: center;
    padding-bottom: 5%;
}

.allInfo{
    display: grid;
    grid-template-columns: 60% 30% ;
    grid-gap: 6%;
    margin: 5% auto auto auto;
    width: 60%;
}

.info{
    font-size: 1,2vw;
    align-items: center;
    padding-left: 10%;
}

.artist img{
    width: 100%;
}
