<app-nav-bar></app-nav-bar>

<h1>Artists</h1>

<div class="allArtist">
    <div class="artist" *ngFor="let artist of allArtists; let index=index">
        <div>
            <p>{{artist.name}}</p>
        </div>
        <img src="{{artist.photoUrl}}" data-toggle="modal" [attr.data-target]="'#modal_'+index">
    </div>
</div>

<div  *ngFor="let artist of allArtists; let index=index">
  <div class="modal fade"  [attr.id]="'modal_'+index" role="dialog">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{artist.name}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <img class="img-fluid" src="{{artist.photoUrl}}" alt="{{artist.name}}">
          </div>
          <ul>
              <li>Artist id: {{artist._id}}</li>
              <li>Birthdate: {{artist.birthdate | date: 'longDate'}} </li>
              <li *ngIf="artist.deathDate != null">Deathdate: {{artist.deathDate | date: 'longDate'}}</li>
          </ul>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-info">Upload information</button>
                <button type="button" class="btn btn-danger">Delete artist</button>
            </div>
             
        </div>
      </div>        
    </div>
  </div>    
</div>
  

