.allArtist{
    width: 80%;
    margin: 3% auto auto auto;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% ;
    grid-gap: 5%;
}

.artist{
    width: 100%;
    margin-bottom: 15%;
}

.artist img{
    width: 100%;
}

.artist p{
    text-align: center;
    font-size: 1vw;
    margin: 0;
}