<app-nav-bar></app-nav-bar>


            <form [formGroup] = "formAlbum" (ngSubmit)="addNewAlbum()">
                    <div class="row form-group">
                        <div class="col-12 mt-2">
                            <label for="title">Album title</label>
                            <input type="text" id="title" class="form-control" formControlName="title" [ngClass]="{'is-valid': title.dirty && !title.invalid, 'is-invalid': title.dirty && title.invalid}" placeholder="Album title">
                        </div>
                        <div class="invalid-feedback">
                            <span *ngIf="title.errors?.required">Required</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 mt-2">
                            <label for="artistId">Artist Id</label>
                            <input type="text" id="artistId" class="form-control" formControlName="artistId" [ngClass]="{'is-valid': artistId.dirty && !artistId.invalid, 'is-invalid': artistId.dirty && artistId.invalid}" placeholder="Artist id" >
                        </div>
                        <div class="invalid-feedback">
                            <span *ngIf="artistId.errors?.required">Required</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 mt-2">
                            <label for="coverUrl">Cover Url</label>
                            <input type="text" id="coverUrl" class="form-control" formControlName="coverUrl" [ngClass]="{'is-valid': coverUrl.dirty && !artistId.invalid, 'is-invalid': coverUrl.dirty && coverUrl.invalid}" placeholder="cover Url">
                        </div>
                        <div class="invalid-feedback">
                            <span *ngIf="coverUrl.errors?.required">Required</span>
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-12 mt-2">
                            <label for="year">Year</label>
                            <input type="number"  id="year" class="form-control" formControlName="year" [ngClass]="{'is-valid': year.dirty && !year.invalid, 'is-invalid': year.touched && year.invalid}" placeholder="Year">
                        </div>
                        <div class="invalid-feedback">
                            <span *ngIf="year.errors?.required">Required</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 mt-2">
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control" formControlName="genre" [ngClass]="{'is-valid': genre.dirty && !genre.invalid, 'is-invalid': genre.touched && genre.invalid}" placeholder="Genre">
                        </div>
                        <div class="invalid-feedback">
                            <span *ngIf="genre.errors?.required">Required</span>
                        </div>
                    </div>
                    <div>
                        <div class="button">
                            <button class="btn btn-success" type="submit" >Save</button>
                        </div>
                    </div>
                </form>
  

